@import '../vars/colors';

@mixin container($border: false, $centered: true){
    width: 100%;
    padding: 20px;
    @if $border {
        border: 1px solid map-get($colors, light);
    }
    @if $centered {
        text-align: center;
    } @else {
        text-align: left;
    }
}

@mixin flex($column: false) {
    display: flex;

    @if $column {
        flex-direction: column;
    }
}