@import '../../mixins/layout';
@import '../../mixins/setColors';
@import '../../vars/colors';
@import '../../mixins/setBackground';

.form {
    @include container(true, false, dark, 3px);
    border-radius: 10px;
}

.field {
    @include container(false, false);
    padding-bottom: 0;
}

.control {
    margin-top: .3em;
    text-align: center;
}

.input-wrapper {
    @include container(false, false);
    padding: 10px;

    &.error {
        @include setBackground(red, .2);
    }

    &.warning {
        @include setBackground(yellow, .2);
    }
}

.label {
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.2em;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1.25em;
}

.button {
    padding: 20px;
    font-size: 1.25em;
    @include setColors(dark, light);
    border: none;
}

.form-field-error {
    display: block;
    padding-top: 10px;
    &.error {
        color: map-get($colors, red);
    }
    &.warning {
        color: map-get($colors, yellow);
    }
}