@import '../../helpers/vars/colors';

.data-list-element {
    list-style-type:none;
    width: 100%;
    margin: 3px auto;
    padding: 10px;
    display: flex;
    align-items: space-between;
    &:nth-child(odd) {
        background-color: map-get($colors, semiLight);
    }
    .list-element-label, .list-element-data {
        display: inline-block;
        flex-grow: 1;
    }
    .list-element-label {
        font-weight: 700;
        text-align: left;
        width: 60%;
    }
    .list-element-data {
        width: 40%;
        text-align: right;
    }
}