@import '../../helpers/mixins/setColors';
@import '../../helpers/vars/colors';

.investment-listing-row {
    @include setColors(white, dark);
    font-size: 1.25em;
    .investment-listing-data {
        padding: 15px;
    }
    &:nth-child(odd) {
        background-color: map-get($colors, semiLight);
    }
}