@import '../../helpers/vars/colors';
@import '../../helpers/mixins/setColors';

.investment-detail-card {
    margin: 15px 15px 0;
    border: 2px solid map-get($colors, dark);
    padding: 15px;
    &:last-child {
        margin: 15px;
    }
    .detail-card-header,
    .detail-card-footer {
        padding: 15px;
        background-color: map-get($colors, medium);
        color: black;
        @include setColors(medium, black);
    }
    .detail-card-header .detail-card-title {
        font-size: 1.3em;
        font-weight: bold;
    }
}