@import '../../helpers/vars/colors';

.investment-detail-card {
    margin: 15px 15px 0;
    border: 2px solid $dark;
    padding: 15px;
    &:last-child {
        margin: 15px;
    }
    .detail-card-header,
    .detail-card-footer {
        padding: 15px;
        background-color: $medium;
        color: black;
    }
    .detail-card-header .detail-card-title {
        font-size: 1.3em;
        font-weight: bold;
    }
}