@import '../../helpers/vars/colors';
@import '../../helpers/mixins/setColors';
@import '../../helpers/mixins/layout';
@import '../../helpers/mixins/setBackground';
.investment-detail-card {
    margin: 15px;
    border: 2px solid map-get($colors, dark);
    flex-grow: 1;
    @include flex(true);
    justify-content: space-between;

    @media only screen and (min-width: 500px) {
        min-width: 400px;
    }
}

.detail-card-header,
.detail-card-footer {
    background-color: map-get($colors, medium);
}

.detail-card-header {
    @include flex;
    justify-content: space-around;
    align-items: center;
    background-color: map-get($colors, semiLight);
    border-bottom: 15px solid map-get($colors, medium);
}

.detail-card-footer {
    @include container(false, false);
}

.detail-card-title,
.detail-card-icon {
    color: map-get($colors, dark);
}

.detail-card-icon-wrapper {
    margin: 0 15px 0 0;
    padding: 25px;
    @include setBackground(dark, .5);
    border-radius: 0 0 50% 0;
}

.detail-card-title {
    flex-grow: 1;
    margin: 5px auto;
    font-size: 2em;
    color: map-get($colors, dark);
    @media only screen and (max-width: 600px) {
        font-size: 1.5em;
    }
}

.detail-card-icon {
    font-size: 3em;
    color: map-get($colors, light);
    @media only screen and (max-width: 600px) {
        font-size: 1.5em;
    }
}

.card-details {
    padding: 10px;
}