// Reset and Base
@import './helpers/base/reset';
@import './helpers/base/typography';
@import './helpers/typeplate-sk/typeplate-index';

// Mixins
@import './helpers/mixins/layout';

* {
  box-sizing: border-box;
}

body, #root {
  min-height: 100vh;
  margin: 0;
  @include flex(true);
}