// Reset and Base
@import './base/reset';
@import './base/typography';

// Mixins
@import './mixins/layout';

* {
  box-sizing: border-box;
}

body, #root {
  min-height: 100vh;
  margin: 0;
  @include flex(true);
}