@import '../vars/colors';

@mixin lightOnDark {
    background-color: $dark;
    color: $light;
}

@mixin darkOnLight {
    background-color: $light;
    color: $dark;
}

@mixin darkOnMedium {
    background-color: $medium;
    color: $dark;
}