@import '../../../helpers/mixins/layout';
@import '../../../helpers/mixins/setColors';

.investment-listing-table {
    @include container(true, true);
    .investment-listing-column-heading {
        padding: 15px;
        font-size: 1.25em;
        font-weight: 600;
        @include setColors(dark, light);
    }
}